# intellij iml files
*.iml
.idea

# gradle private files wrappers
.gradle/

# Local configuration for gradle
local.properties
local.gradle

fabric.properties

# local configuration
.DS_Store

# build files
build/
captures/
*.apk
