<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mabako.steamgifts">

    <!-- We kinda just pull everything from the library's manifest -->
    <application
        android:name=".Application"
        android:icon="@mipmap/ic_launcher">
    </application>
</manifest>
